[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
alembic = "*"
sqlalchemy = "*"
automium-web = "*"
flask-restful = "*"
deserialize = "*"
blueprint = "*"
jsonify = "*"
django-request = "*"
marshmallow = "*"
flask-bcrypt = "*"
pymysql = "*"
flask-jwt-extended = "*"
flask-authorize = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.10"
